html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background: #fff;
  scrollbar-width: thin;
}

button,
a {
  cursor: pointer;
  outline: none;
}

.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
}

.wrapper-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  ul,
  ol,
  li {
    margin: 0;
  }
  button,
  input,
  textarea {
    outline: none;
  }
  textarea {
    &::placeholder {
      opacity: 1;
    }
  }
  a {
    text-decoration: none;
  }
}
ul,
li {
  display: inline-block;
  text-decoration: none;
  padding: 0;
}
.content {
  flex: 1 0 auto;
  margin-top: 120px;
}

.footer {
  flex: 0 0 auto;
}
.page-inner {
  padding-bottom: 100px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  @include no-button;
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #5db3da;
  border-radius: 333px;
  padding: 12px 30px;
  &.mod-wh {
    font-weight: bold;
    font-size: 13px;
    line-height: 24px;
    padding: 4px 16px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    background: #fff;
    border: 1px solid #5db3da;
    border-radius: 333px;
		&:hover{
			background: #66BFE8;
			color: #fff;
		}
  }
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none;
}
.swiper-button-prev,
.swiper-button-next {
  background: rgba($color: #fff, $alpha: 0.9);
  border-radius: 50%;
  width: 48px;
  height: 48px;
  &:hover {
    svg path {
      fill: #5db3da;
    }
  }
}

// .arrow-right{
//   border: solid #333333;
//   border-width: 0 2px 2px 0;
//   display: inline-block;
//   padding: 3px;
//   transform: rotate(-45deg);
//   border-radius: 1px;
// }
@media (max-width: 991px) {
  .content {
    margin-top: 48px;
  }
}
@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }
}
