@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .catalog-items{
        grid-template-columns: repeat(2, 1fr);
    }
		.new-items-inner{
			margin-bottom: 140px;
		}
		.gallary-slider .swiper-pagination{
			display: flex;
		}
		.gallary-slider{
			padding-bottom: 58px;
		}
}

@media (max-width: 767px) {
	.new-items-inner{
		margin-bottom: 93px;
	}
	.list-control{
		margin-top: 40px;
	}
    .catalog-items{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
.filter-control-inner{
    padding: 24px 15px;
}
.filter-control-btns{
    position: absolute;
    right: 15px;
    top: 24px;
    flex-direction: column;
}
.filter-control-items{
    padding-right: 67px;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.filter-control-item.mod{
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.filter-control-item select{
    width: 100%;
}
.filter-control-item{
    gap: 8px;
}
.filter-control-item.mod{
    gap: 12px;
}
.list-control{
	grid-template-columns: 1fr;
	gap: 12px;
	&.mod{
		margin: 0;
		gap: 24px;
	}
}
.list-control-pagination{
	order: -1;
}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
