@media (max-width: 1199px) {
	.product-banner{
		padding: 80px 0;
	}
}

@media (max-width: 991px) {
	.product-banner{
		padding: 75px 0 70px;
	}
  .product-banner-item-info {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (max-width: 767px) {
	.product-banner{
		padding: 60px 0;
	}
  .product-banner-items {
    grid-template-columns: 1fr;
    gap: 15px;
  }
	.product-banner-titles-box{
		margin-bottom: 32px;
	}
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
