@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .catalog-items{
        grid-template-columns: repeat(2, 1fr);
    }
		.catalog-items-inner{
			padding-bottom: 70px;
            margin-bottom: 70px;
		}
		.gallary-slider .swiper-pagination{
			display: flex;
		}
		.gallary-slider{
			padding-bottom: 58px;
		}
}

@media (max-width: 767px) {
	.catalog-items-inner{
		padding-bottom: 60px;
        margin-bottom: 52px;
	}
	.list-control{
		margin-top: 40px;
	}
    .catalog-items{
       gap: 15px;
    }
.filter-control-inner{
    padding: 24px 15px;
}
.filter-control-btns{
    position: absolute;
    right: 15px;
    top: 24px;
    flex-direction: column;
}
.filter-control-items{
    padding-right: 67px;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}
.filter-control-item-adapt{
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.filter-control-item select{
    width: 100%;
}
.filter-control-item{
    gap: 8px;
}
.filter-control-item-adapt{
    gap: 12px;
}
.list-control{
	grid-template-columns: 1fr;
	gap: 12px;
	&.mod{
		gap: 24px;
	}
}
.list-control-pagination{
	order: -1;
}
.catalog-items.list .catalog-item-content{
    grid-template-columns: minmax(auto,97px) 1fr;
}
.catalog-items.list .catalog-item{
    padding: 24px 15px;
    grid-template-columns: 1fr;
    gap: 15px;
}
.catalog-items.list .catalog-item-list-btns{
    justify-content: space-between;
    .catalog-item-more{
        width: auto;
    }
}
.list-control-column .list-control-pagination{
    margin: 0;
}
.gallary-slider {
    padding-bottom: 40px;
}
.catalog-items.list,
.catalog-items.list .catalog-item-content {
    gap: 15px;
}
}

@media (max-width: 575px) {

    .list-control-pagination{
        gap: 8px;
        flex-wrap: wrap
    }
    .catalog-items{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}

@media (min-width: 1200px) {
}
