@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .catalog-range-items{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 767px) {
    .catalog-range-items{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }
}

@media (max-width: 575px) {
}

@media (min-width: 1200px) {
}
