@media (max-width: 1199px) {
    .about-short::before{
        width: calc(50vw + 226px);
    }
    .about-short {
        padding: 80px 0;
    }
    .about-short-content{
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .about-short::before{
        width: calc(50vw + 151px);
    }
    .about-short {
        padding: 70px 0;
    }
}

@media (max-width: 767px) {
    .about-short-content-box{
        align-items: start;
    }
    .about-short-img .about-short-content-title {
        display: block;
    }
    .about-short-content{
        .about-short-content-title{
            display: none;
        }
    }
    .about-short {
        padding: 60px 0;
    }
    .about-short-content-title{
        margin-bottom: 32px;
    }
    .about-short-content-info{
        margin-top: 24px;
    }
    .about-short::before {
        width: calc(50vw + 106px);
    }
}

@media (max-width: 575px) {
    .about-short::before{
        width: 100%;
    }
}

@media (min-width: 1200px) {
}
