 @media (max-width: 1199px) {
     .footer-bottom-item-pos,
		 .footer-feedback-item-pos{
        text-align: right;
				.navigation-icons{
					justify-content: flex-end;
				}
     }
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .footer-feedback{
        padding: 40px 0;
    }
    .footer-feedback-item-title{
        min-height: auto;
    }
    .margin-md-0{
        margin: 0;
    }
    .footer-feedback-item-link-email{
        margin-top: 8px;
    }
    .footer-feedback-item-pos{
        text-align: right;
    }
    .footer-feedback-item .navigation-icons{
        justify-content: flex-end;
    }
}

@media (max-width: 575px) {
    .footer-feedback-item-pos{
        text-align: left;
        .footer-feedback-item-title{
            margin: 40px 0 26px;
        }
    }
    .footer-feedback-item .navigation-icons{
        justify-content: flex-start;
    }
    .footer-bottom-item-pos{
        text-align: left;
     }
		 .footer-bottom-item-pos,
		 .footer-feedback-item-pos{
        text-align: left;
				.navigation-icons{
					justify-content: flex-start;
				}
     }
}

@media (min-width: 1200px) {
}
