@media (max-width: 1199px) {
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
    .transparent-slider-img{
        height: 260px;
    }

		.transparent-slider .swiper-button-prev{
			display: none;
		}
		.transparent-slider .swiper-button-next{
			display: none;
		}
		.clients-items{
			gap: 15px;
		}
}

@media (max-width: 575px) {
    .transparent-slider-img{
        height: 215px;
    }
		.clients-items{
			grid-template-columns: repeat(2, 1fr);
		}
		.clients{
			padding: 23px 0;
		}
}

@media (min-width: 1200px) {
}
