@media (max-width: 1199px) {
	.hits{
		padding: 100px 0 80px; 
	}
}

@media (max-width: 991px) {
	.hits{
		padding: 70px 0; 
	}
	.catalog-items-slider{
		padding-bottom: 50px;
	}
	.catalog-items-slider .swiper-pagination {
    display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		bottom: 0;
		gap: 20px;
		.swiper-pagination-bullet{
			width: 10px;
			height: 10px;
			background: #EEEEEE;
			opacity: 1;
			&:hover{
				background: #5db3da;
			}
		}
		.swiper-pagination-bullet-active{
			background: #5DB3DA;
		}
}
.catalog-items-slider{
	.swiper-slide{
		height: auto;
	}
}
}

@media (max-width: 767px) {
	.hits{
		padding: 60px 0;
	}
	.section-control{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;
	}
	.section-title{
		margin-bottom: 32px;
	}
	.catalog-items-slider{
		padding-bottom: 40px;
	}
	
}

@media (max-width: 575px) {
	.section-control{
		.btn{
			width: 100%;
		}
	}
}

@media (min-width: 1200px) {
}
@media (min-width: 992px) {
	.catalog-items-slider {
		.swiper-wrapper{
			display: grid;
			grid-template-columns: repeat(4,1fr);
			gap: 30px;
			
		}
		&.swiper{
			overflow: visible;
		}
	}

}
