@import "_vars.scss";
@import "_global.scss";
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 0;
  background: #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  z-index: 99;
  background: #fff;
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.menu-btn {
  display: none;
}
.header-logo {
  display: block;
  picture,
  img {
    display: block;
    width: 128px;
    height: 48px;
    object-fit: cover;
  }
}
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header-box-gr {
  display: grid;
  grid-template-columns: auto auto minmax(auto, 287px);
}
.mobile-navigation-sub-position {
  display: none;
}
.mobile-navigation-menu {
  display: flex;
  gap: 24px;
}
.mobile-navigation-menu a {
  font-weight: bold;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333333;
  white-space: nowrap;
  &:hover,
  &:focus {
    color: #5db3da;
  }
}

.header-menu {
  display: flex;
  .navigation-icons {
    display: none;
  }
}
.navigation-icons {
  display: flex;
  gap: 8px;
  align-items: center;
  a {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      svg path {
        fill: #5db3da;
      }
    }
    svg,
    img {
      width: 24px;
      height: 24px;
    }
  }
}
.mobile-navigation-search {
  position: relative;
  button {
    width: 40px;
    height: 32px;
    @include no-button;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 330px 333px 0px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
      svg path {
        fill: #5db3da;
      }
    }
  }
  input {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 333px;
    padding: 5px 40px 5px 20px;
    font-size: 13px;
    line-height: 20px;
    color: #333333;
    max-width: 287px;
    width: 100%;
    &::placeholder {
      color: #999999;
    }
  }
}
.header-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  &:hover,
  &:focus {
    svg path {
      fill: #5db3da;
    }
  }
}
.tan {
  margin-left: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #fff;
  .submenu {
    position: absolute;
    top: -1px;
    left: -1px;
    width: 100%;
    z-index: 10;
  }
}
.tan ul {
  width: 32px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.topmenu > li:last-child {
  margin-right: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.tan-now {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3px;
  padding-right: 2px;
  text-transform: uppercase;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;
  &:hover,
  &:focus {
    color: #5db3da;
  }
}
.tan .submenu {
  visibility: hidden;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 333px;
  padding: 3px 1px;
  width: 32px;
}
.tan.open-menu .submenu {
  visibility: visible;
}
.tan .submenu a {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;
  display: block;
  &:hover,
  &:focus {
    color: #5db3da;
  }
}
.header-box-icons {
  display: flex;
}
@import "_media-header.scss";
//transparent
.transparent {
}
.transparent-slider-img {
  height: 420px;
  display: block;
  picture,
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}
.transparent-slider {
  .swiper-pagination {
    bottom: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #ffffff;
    opacity: 1;
    &:hover,
    &:focus {
      background: #5db3da;
    }
  }
  .swiper-pagination-bullet-active {
    background: #5db3da;
  }
  .swiper-button-prev {
    left: 30px;
  }
  .swiper-button-next {
    right: 30px;
  }
}
//brands
.brands {
  background: #d2e7f2;
  padding: 32px 0;
}
.brands-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.brands-item {
  display: block;
  &:hover,
  &:focus {
    .brands-item-img img {
      transform: scale(1.15);
    }
  }
}
.brands-item-img {
  position: relative;
  height: 0;
  padding: 0 0 56.5% 0;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.3s;
  }
}
.brands-item:hover .brands-item-img img {
  transform: scale(1.15);
}
@import "_media-transparent.scss";

//hits
.hits {
  padding: 100px 0;
}
.catalog-items-slider {
  .swiper-pagination {
    display: none;
  }
}
.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}

.catalog-item-link-img {
  @include container-img;
  padding-bottom: 66%;
  display: block;
  img {
    @include img;
  }
}
.catalog-item {
  position: relative;

  height: 100%;
}
.catalog-item-link {
  padding: 0 0 80px;
  display: block;
  text-align: center;
  border: 1px solid #eeeeee;
  height: 100%;
  &:hover,
  &:focus {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
    .btn-second.small {
      background: #66bfe8;
      color: #fff;
    }
  }
}
.catalog-item-likes {
  @include no-button;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($color: #fff, $alpha: 0.9);
  border-radius: 50%;
  z-index: 1;
  svg,
  img {
    width: 22px;
    height: 22px;
  }
  &:hover,
  &:focus {
    svg path {
      fill: #5db3da;
    }
  }
}
.catalog-item-more {
  position: absolute;
  bottom: 32px;
  left: 15px;
  width: calc(100% - 30px);
  text-align: center;
  z-index: 1;
  .btn-second {
    margin: 0 auto;
    display: inline-block;
    width: auto;
  }
}
.catalog-item-link-title {
  margin-top: 24px;
  font-size: 15px;
  line-height: 20px;
  color: #333333;
  padding: 0 15px;
  min-height: 40px;
}

@import "_media-hits.scss";
//product-banner
.product-banner {
  background: #f9f9fd;
  padding: 100px 0;
}
.product-banner-titles-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
}
.product-banner-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.product-banner-item {
  position: relative;
  display: block;
}
.product-banner-item-img {
  @include container-img;
  padding-bottom: 56%;
  img {
    @include img;
  }
}
.product-banner-item-info {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333333;
  padding: 12px 16px;
  position: absolute;
  bottom: 15px;
  left: 0;
  background: #ffffff;
  max-width: calc(100% - 55px);
}
@import "_media-product-banner.scss";
//feedback
.feedback {
  padding: 100px 0;
  position: relative;
  &:after {
    right: 0;
    top: 0;
    content: "";
    position: absolute;
    width: calc(50vw - 390px);
    height: 100%;
    background: #d2e7f2;
  }
  .title {
    font-size: 32px;
    line-height: 40px;
  }
  .swiper-slide {
    height: auto;
  }
}
.feedback-slider-item {
  height: 100%;
  position: relative;
  z-index: 1;
  background: #fff;
}
.feedback-slider-item {
  border: 1px solid #eeeeee;
  padding: 30px;
  position: relative;
}
.feedback-slider-item-content-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333333;
  margin-bottom: 8px;
}
.feedback-slider-item-content-info {
  font-size: 13px;
  line-height: 20px;
  color: #333333;
}
.feedback-slider-item-imgs {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  gap: 15px;
}
.feedback-slider-item-img {
  display: block;
  width: 64px;
  height: 64px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.feedback-slider-item-content {
  padding-bottom: 88px;
}
.feedback-slider {
  padding-bottom: 60px;
  .swiper-pagination {
    width: 100%;
    bottom: 0;
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #eeeeee;
    &:hover,
    &:focus {
      background: #5db3da;
    }
  }
  .swiper-pagination-bullet-active {
    background: #5db3da;
  }
}
.feedback-titles-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.feedback-slider-control {
  display: flex;
  gap: 8px;
}
.slider-prev,
.slider-next {
  position: relative;
  z-index: 1;
  @include no-button;
  width: 32px;
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  &:hover,
  &:focus {
    border-color: #5db3da;
    svg path {
      fill: #5db3da;
    }
  }
  svg {
    width: 24px;
    height: 24px;
    path {
      fill: #e0e0e0;
    }
  }
}
.feedback-slider-control {
  .slider-prev,
  .slider-next {
    border-color: #fff;
    svg path {
      fill: #fff;
    }
    &:hover,
    &:focus {
      border-color: #5db3da;
      svg path {
        fill: #5db3da;
      }
    }
  }
}
@import "_media-feedback.scss";

//about-short
.about-short {
  padding: 100px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: calc(50vw + 361px);
    background: #eeeeee;
    height: 1px;
    top: 0;
    left: 0;
  }
}
.about-short-img {
  .about-short-content-title {
    display: none;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about-short-content-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
}
.about-short-content-info {
  margin-top: 32px;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
}
.about-short-content {
  padding-left: 30px;
}
.about-short-content-box {
  align-self: center;
}
@import "_media-about-short.scss";
.footer-feedback {
  padding: 57px 0;
  background: #f9f9fd;
}
.footer-feedback-item-links {
  margin-top: 18px;
}
.footer-feedback-item-title {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999999;

  min-height: 24px;
}
.footer-feedback-item-link-phone {
  font-size: 17px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  display: block;
  &.accent {
    font-size: 24px;
    line-height: 32px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #333333;
    margin-bottom: 5px;
    span {
      color: #83cddf;
      font-weight: 700;
    }
  }
}
.footer-feedback-item-link-email {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  border-bottom: 1px solid #bebec1;
  padding-bottom: 1px;
  display: inline-block;
  &:hover,
  &:focus {
    color: #5db3da;
    border-color: transparent;
  }
}
.footer-feedback-item-link-adress {
  margin-top: 11px;
  display: block;
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
}
.footer-bottom {
  background: #f9f9fd;
}
.footer-feedback-item {
  .navigation-icons {
    display: flex;
    margin-top: 26px;
  }
}
.footer-bottom-item {
  font-size: 13px;
  line-height: 20px;
  color: #999999;
  a {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
  }
}
.footer-bottom-inner {
  padding: 14px 0;
  border-top: 1px solid #e0e0e0;
}
.footer-feedback-inner {
  justify-content: space-between;
}
@import "_media-footer.scss";
//breadcrumbs
.breadcrumbs {
  padding: 24px 0 48px;
}
.breadcrumbs-list-item {
  a,
  span {
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    &:hover {
      color: #5db3da;
    }
  }
}
.breadcrumbs-list-item.active {
  a,
  span {
    color: #5db3da;
  }
}
.page-title {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  margin-top: 8px;
  color: #333333;
}
.text-page {
  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    font-feature-settings: "pnum" on, "lnum" on;
    color: #333333;
    margin: 24px 0;
    b {
      font-weight: 600;
    }
    a {
      color: #5db3da;
    }
    i {
      color: #999;
      font-style: italic;
    }
  }
  img {
    display: block;
    max-width: 100%;
    margin: 32px 0;
  }

  h2 {
    margin: 48px 0 32px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
  }
  .img-left,
  .img-right {
    max-width: calc(50% - 30px);
  }
  .img-left {
    float: left;
    margin: 30px;
    margin-left: 0;
    margin-top: 0;
  }
  .img-right {
    float: right;
    margin: 30px;
    margin-right: 0;
    margin-top: 0;
  }
  ul,
  ol {
    display: block;
    padding: 0;
    margin: 32px 0 48px;
  }
  li {
    font-size: 15px;
    line-height: 24px;
    position: relative;
    color: #333333;
    display: block;
    & + li {
      margin-top: 8px;
    }
  }
  ul li {
    padding-left: 28px;
    &:before {
      content: "";
      position: absolute;
      top: 8px;
      left: 0;
      width: 8px;
      height: 8px;
      background: #5db3da;
      border-radius: 50%;
      display: block;
    }
  }
  ol {
    li {
      padding-left: 28px;
      &:before {
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        font-family: "Jost", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #5db3da;
      }
    }
  }
  ol > li {
    counter-increment: step-counter;
  }
  ol > li::before {
    content: counter(step-counter);
  }
  blockquote {
    margin: 32px 0;
    padding: 24px 30px 24px 92px;
    background: url(../img/svg/quote.svg) 30px 24px/32px 32px no-repeat #f9f9fd;
    p {
      margin-bottom: 16px;
    }
    b {
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      color: #333;
    }
  }
  h3 {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    margin: 48px 0 33px;
    color: #333333;
  }
}
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin: 33px 0;
  box-shadow: 0 0 0 2px #f9f9fd;
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
  }
  thead {
    tr {
      background: #5db3da;
      th {
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #ffffff;
        padding: 12px 15px;
        &:first-child {
          padding-left: 30px;
        }
        &:last-child {
          padding-right: 30px;
        }
      }
    }
  }
  tbody {
    tr {
      background: #ffffff;
      &:nth-child(2n) {
        background: #f9f9fd;
      }
    }
    td {
      font-size: 13px;
      line-height: 20px;
      font-weight: 400;
      color: #333333;
      padding: 14px 15px;
      &:first-child {
        padding-left: 30px;
      }
      &:last-child {
        padding-right: 30px;
      }
    }
  }
}
.text-page :first-child {
  margin-top: 0;
}
.text-page :last-child {
  margin-bottom: 0;
}
@import "_media-text-page.scss";

//filter-control
.filter-control {
  background: #f9f9fd;
  margin-bottom: 32px;
}
.filter-control-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 30px;
  position: relative;
}
.filter-control-items {
  display: flex;
  gap: 30px;
}
.filter-control-item {
  display: flex;
  align-items: center;
  gap: 16px;
  label {
    font-size: 13px;
    line-height: 20px;
    color: #333333;
  }
  select {
    border: none;
    padding: 6px 20px;
    padding-right: 50px;
    background: #fff;
    border-radius: 333px;
    font-size: 13px;
    line-height: 20px;
    color: #999999;
    background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff;
    appearance: none;
    background-position: calc(100% - 20px) center;
  }
}
.filter-control-btns {
  display: flex;
  gap: 16px;
}
.filter-control-btn {
  @include no-button;
  width: 22px;
  height: 22px;
  svg {
    rect {
      fill: #999;
    }
  }
  &.active {
    svg {
      rect {
        fill: #5db3da;
      }
    }
  }
  &:hover {
    svg {
      rect {
        fill: #5db3da;
      }
    }
  }
}
.catalog-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.gallary-slider-item {
  display: block;
  border: 1px solid #eee;
}
.gallary-slider-item-img {
  @include container-img;
  padding-bottom: 56%;
  img {
    @include img;
  }
}
.gallary-slider-item-desc {
  padding: 10px 15px;
  padding-right: 0;
  display: grid;
  grid-template-columns: auto minmax(auto, 85px);
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
.gallary-slider-item-desc-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333333;
}
.gallary-slider-item-logo {
  img {
    width: 85px;
    height: 48px;
    object-fit: contain;
  }
}
.list-control {
  margin-top: 48px;
}
.catalog-items-inner {
  padding-bottom: 80px;
  margin-bottom: 80px;
  border-bottom: 1px solid #eee;
}
.gallary-slider {
  margin-bottom: 48px;
  .swiper-pagination {
    display: none;
  }
}
.gallary-slider-conrol {
  display: flex;
  align-items: center;
  gap: 8px;
}
.list-control {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  .list-control-item {
    margin: 0 auto;
  }
  &.list-control-column {
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    .list-control-item {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .list-control-pagination {
      margin-top: 15px;
    }
  }
}
.list-control-pagination {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 16px;
}
.page-control-item-pagination {
  background: #f9f9fd;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #999999;
  &:hover {
    background: #5db3da;
    color: #ffffff;
    svg path {
      stroke: #fff;
    }
  }
  &.active {
    background: #5db3da;
    font-weight: 600;
    color: #ffffff;
  }
  &.left {
    transform: rotate(180deg);
  }
}

.catalog-items.list {
  grid-template-columns: 1fr;
  gap: 30px;
  .catalog-item {
    display: grid;
    grid-template-columns: auto minmax(auto, 163px);
    border: 1px solid #eeeeee;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
  }
  .catalog-item-more,
  .catalog-item-likes {
    position: static;
  }
  .catalog-item-link-title {
    margin: 0;
    min-height: auto;
  }
  .catalog-item-link-title {
    padding: 0;
  }
  .catalog-item-list-btns {
    display: flex;
    gap: 16px;
  }
  .catalog-item-content {
    display: grid;
    grid-template-columns: minmax(auto, 257px) 1fr;
    align-items: center;
    gap: 30px;
  }
  .catalog-item-link-title {
    max-width: 447px;
  }
}
@import "_media-new.scss";
//catalog
.catalog-control,
.brand-control {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #e9e7e7;
    border-radius: 5px;
    border: transparent;
  }
}
.catalog-control {
  border-bottom: 1px solid #eee;
  gap: 40px;
  margin-bottom: 30px;
  padding-bottom: 3px;
}
.catalog-control-link {
  font-size: 15px;
  line-height: 24px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #333333;
  padding-bottom: 4px;
  &.active {
    font-weight: 600;

    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      background: #5db3da;
      width: 100%;
      height: 3px;
    }
  }
}
.brand-control {
  gap: 15px;
  margin-bottom: 40px;
  padding-bottom: 8px;
}

.brand-control-link {
  padding: 12px 30px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
  border: 1px solid #e0e0e0;
  display: block;
  border-radius: 33px;
  &.active {
    border: 1px solid #5db3da;
  }
}
.catalog-range-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@import "_media-catalog.scss";

//catalog-section
.video-slider-item {
  &:hover {
    .video-slider-item-icon {
      img,
      svg {
        transform: scale(1.15);
      }
    }
  }
}
.video-slider-item-img {
  @include container-img;
  padding-bottom: 55%;
  img {
    @include img;
  }
}
.video-slider-item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg,
  img {
    transition: all 0.3s;
  }
}
.video-slider-item-descr {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-top: 24px;
  color: #333333;
}
.video-slider{
  margin: 64px 0;
}
.video-slider-inner{
  position: relative;
  .swiper-button-next{
    right: -24px;
  }
  .swiper-button-prev{
    left: -24px;
  }
  .swiper-button-next,
  .swiper-button-prev{
    margin-top: calc(0px - (120px / 2));
  }
}
.video-slider{
  .swiper-pagination{
    display: none;
  }
}