*,
::after,
::before,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  position: relative;
  font-family: "Open Sans",sans-serif;
  background: #fff;
  scrollbar-width: thin;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on
}
a,
button {
  cursor: pointer;
  outline: 0
}
.title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #333
}
.wrapper-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh
}
.wrapper-page li,
.wrapper-page ol,
.wrapper-page ul {
  margin: 0
}
.wrapper-page button,
.wrapper-page input,
.wrapper-page textarea {
  outline: 0
}
.wrapper-page textarea::-webkit-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::-moz-placeholder {
  opacity: 1
}
.wrapper-page textarea:-ms-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::-ms-input-placeholder {
  opacity: 1
}
.wrapper-page textarea::placeholder {
  opacity: 1
}
.wrapper-page a {
  text-decoration: none
}
li,
ul {
  display: inline-block;
  text-decoration: none;
  padding: 0
}
.content {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  margin-top: 120px
}
.footer {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto
}
input[type=number] {
  -moz-appearance: textfield
}
input[type=number]:focus,
input[type=number]:hover {
  -moz-appearance: number-input
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}
.btn {
  background: #5db3da;
  border: none;
  padding: 12px 30px;
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 333px
}
.btn.small {
  padding: 4px 16px
}
.btn:focus,
.btn:hover {
  background: #66bfe8
}
.btn.diseble {
  background: #b7b7b7;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff
}
.btn-second {
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 12px 30px;
  color: #333;
  border: 1px solid #5db3da;
  border-radius: 333px;
  background: #fff
}
.btn-second:hover {
  background: #f9f9fd
}
.btn-second.disable {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  border: 1px solid #b7b7b7;
  text-align: center;
  text-transform: uppercase;
  color: #b7b7b7
}
.btn-second.small {
  font-weight: 700;
  padding: 4px 16px
}
.btn-second.small:hover {
  background: #66bfe8;
  color: #fff
}
.btn-second.small.disable {
  border: 1px solid #b7b7b7;
  color: #b7b7b7
}
.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: none
}
.swiper-button-next,
.swiper-button-prev {
  background: rgba(255,255,255,.9);
  border-radius: 50%;
  width: 48px;
  height: 48px
}
.swiper-button-next:hover svg path,
.swiper-button-prev:hover svg path {
  fill: #5db3da
}
.page-inner {
  padding-bottom: 100px
}
.section-control .btn {
  display: none
}
.swiper-pagination {
  width: 100%;
  bottom: 0;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.swiper-pagination-bullet {
  opacity: 1;
  width: 10px;
  height: 10px;
  background: #eee
}
.swiper-pagination-bullet-active,
.swiper-pagination-bullet:focus,
.swiper-pagination-bullet:hover {
  background: #5db3da
}
@media (max-width:991px) {
  .content {
    margin-top: 48px
  }
  .page-inner {
    padding-bottom: 70px
  }
}
@media (max-width:767px) {
  .section-title .btn {
    display: none
  }
  .section-control .btn {
    display: block
  }
  .title {
    font-size: 24px;
    line-height: 32px
  }
  .page-inner {
    padding-bottom: 60px
  }
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 36px 0;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.05);
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
  z-index: 99
}
.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px
}
.menu-btn {
  display: none
}
.header-logo {
  display: block
}
.header-logo img,
.header-logo picture {
  display: block;
  width: 128px;
  height: 48px;
  -o-object-fit: cover;
  object-fit: cover
}
.header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px
}
.header-box.mod {
  display: grid;
  grid-template-columns: auto auto minmax(auto,287px)
}
.mobile-navigation-sub-position {
  display: none
}
.mobile-navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px
}
.mobile-navigation-menu a {
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #333;
  white-space: nowrap
}
.mobile-navigation-menu a:focus,
.mobile-navigation-menu a:hover {
  color: #5db3da
}
.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header-menu .navigation-icons {
  display: none
}
.navigation-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.navigation-icons a {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.navigation-icons a:focus svg path,
.navigation-icons a:hover svg path {
  fill: #5db3da
}
.navigation-icons a img,
.navigation-icons a svg {
  width: 24px;
  height: 24px
}
.mobile-navigation-search {
  position: relative
}
.mobile-navigation-search button {
  width: 40px;
  height: 32px;
  background: #f5f5f5;
  border: 1px solid #e0e0e0;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 330px 333px 0;
  border-left: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.mobile-navigation-search button:focus svg path,
.mobile-navigation-search button:hover svg path {
  fill: #5db3da
}
.mobile-navigation-search input {
  display: block;
  border: 1px solid #e0e0e0;
  border-radius: 333px;
  padding: 5px 40px 5px 20px;
  font-size: 13px;
  line-height: 20px;
  color: #333;
  max-width: 287px;
  width: 100%
}
.mobile-navigation-search input::-webkit-input-placeholder {
  color: #999
}
.mobile-navigation-search input::-moz-placeholder {
  color: #999
}
.mobile-navigation-search input:-ms-input-placeholder {
  color: #999
}
.mobile-navigation-search input::-ms-input-placeholder {
  color: #999
}
.mobile-navigation-search input::placeholder {
  color: #999
}
.header-likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px
}
.header-likes:focus svg path,
.header-likes:hover svg path {
  fill: #5db3da
}
.tan {
  margin-left: 16px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  background: #fff
}
.tan .submenu {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 10;
  visibility: hidden;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 333px;
  padding: 3px 1px;
  width: 32px
}
.tan ul {
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center
}
.topmenu > li:last-child {
  margin-right: 0
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative
}
.tan-now {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 3px;
  padding-right: 2px;
  text-transform: uppercase;
  height: 32px;
  width: 32px;
  cursor: pointer;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999
}
.tan-now:focus,
.tan-now:hover {
  color: #5db3da
}
.tan.open-menu .submenu {
  visibility: visible
}
.tan .submenu a {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999;
  display: block
}
.tan .submenu a:focus,
.tan .submenu a:hover {
  color: #5db3da
}
.header-box-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
@media (max-width:1199px) {
  .navigation-icons {
    display: none
  }
  .header-box,
  .header-inner,
  .mobile-navigation-box {
    gap: 30px
  }
  .header-box.mod {
    grid-template-columns: auto auto minmax(auto,290px)
  }
  .header-likes {
    margin: 0
  }
  .mobile-navigation-search input {
    max-width: 290px
  }
  .header-logo img,
  .header-logo picture {
    width: 106px;
    height: 40px
  }
  .header {
    padding: 40px 0
  }
}
@media (max-width:991px) {
  .mobile-navigation-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 40px
  }
  .mobile-navigation-box > ul {
    max-height: calc(100vh - 150px);
    overflow: auto;
    scrollbar-width: thin
  }
  .mobile-navigation-box > ul::-webkit-scrollbar {
    width: 6px
  }
  .mobile-navigation-box > ul::-webkit-scrollbar-track {
    background: 0 0
  }
  .mobile-navigation-box > ul::-webkit-scrollbar-thumb {
    background-color: #e9e7e7;
    border-radius: 5px;
    border: transparent
  }
  .header-box {
    gap: 0
  }
  .header-box.mod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .header-logo img,
  .header-logo picture {
    width: 107px;
    height: 17px
  }
  .header {
    padding: 4px 0
  }
  .mobile-navigation-menu li + li {
    margin: 0
  }
  .menu-btn {
    background: 0 0;
    border: none;
    padding: 0;
    margin: 0 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    width: 40px;
    cursor: pointer;
    height: 40px;
    opacity: 1;
    position: relative;
    top: 2px
  }
  .menu-btn span {
    display: block;
    width: 24px;
    margin-bottom: 4px;
    background: #333;
    height: 2px;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    position: relative;
    top: 11px
  }
  .menu-btn.active .menu-btn-top {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 7px
  }
  .menu-btn.active .menu-btn-medium {
    opacity: 0
  }
  .menu-btn.active .menu-btn-bottom {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -12px
  }
  .menu-btn.active span {
    background: #999
  }
  .header-menu {
    padding-top: 12px;
    position: fixed;
    z-index: -11;
    left: -100%;
    top: 96px;
    width: 100%;
    background: #fff;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    min-height: 100vh
  }
  .header-menu.active {
    left: 0
  }
  .header-menu ul > li.is-parent > a span {
    position: relative
  }
  .header-menu ul > li.is-parent > a span::after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 18px;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0;
    border: 1px solid #4d4d4d;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header-menu ul > li > a {
    font-weight: 700;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    color: #333;
    padding: 12px 0;
    background: 0 0
  }
  .header-menu ul > li > a:hover {
    background: #5db3da;
    color: #fff
  }
  .header-menu ul > li > a:hover span:after {
    border-color: #fff
  }
  .header-menu .navigation-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    max-width: 720px;
    margin: 0 auto 116px;
    padding: 0 15px
  }
  .mobile-navigation-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
  }
  .mobile-navigation-search-inner {
    position: absolute;
    left: -100%;
    -webkit-transition: .35s;
    -o-transition: .35s;
    transition: .35s;
    top: 48px;
    padding: 9px 0;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 3px 8px 0 rgba(0,0,0,.1),inset 0 1px 1px #eee;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,.1),inset 0 1px 1px #eee
  }
  .mobile-navigation-search {
    margin: 0 auto;
    max-width: 720px;
    width: 100%;
    padding: 0 15px
  }
  .mobile-navigation-search input {
    max-width: 100%;
    width: 100%
  }
  .mobile-navigation-search button {
    right: 15px
  }
  .mobile-navigation-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    white-space: nowrap
  }
  .mobile-navigation-menu a,
  .mobile-navigation-menu li {
    display: block
  }
  .mobile-navigation-menu span {
    display: block;
    max-width: 720px;
    margin: 0 auto;
    padding: 0 15px
  }
  body.no-scroll-mobile {
    overflow: hidden
  }
  .mobile-navigation-sub-position.active {
    left: 0
  }
  .mobile-navigation-sub-position {
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: -100%;
    width: 100%;
    background: #fff;
    -webkit-transition: .25s linear;
    -o-transition: .25s linear;
    transition: .25s linear;
    overflow: hidden;
    height: 100vh
  }
  .mobile-navigation-search-inner.show {
    left: 0
  }
  .header.open-menu {
    -webkit-box-shadow: none;
    box-shadow: none
  }
  .mobile-navigation-sub-menu {
    width: 100%
  }
  .mobile-navigation-sub-menu-heading {
    padding-top: 24px;
    cursor: pointer;
    padding-bottom: 20px
  }
  .mobile-navigation-sub-menu-heading:hover .mobile-navigation-sub-menu-heading-cancel {
    color: #5db3da
  }
  .mobile-navigation-menu span.mobile-navigation-sub-menu-heading-title {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #333;
    margin-bottom: 8px;
    position: relative
  }
  .mobile-navigation-menu span.mobile-navigation-sub-menu-heading-title:after {
    content: "";
    position: absolute;
    top: 50%;
    left: auto;
    right: 15px;
    display: block;
    width: 8px;
    height: 8px;
    margin: -4px 0 0;
    border: 1px solid #4d4d4d;
    border-width: 1px 1px 0 0;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg)
  }
  .mobile-navigation-sub-menu-heading-cancel {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    -webkit-font-feature-settings: "pnum" on,"lnum" on;
    font-feature-settings: "pnum" on,"lnum" on;
    text-transform: none;
    color: #999
  }
  .mobile-navigation-box ul.mobile-navigation-sub-menu {
    max-height: calc(100vh - 196px);
    overflow: auto;
    scrollbar-width: thin
  }
  .mobile-navigation-box ul.mobile-navigation-sub-menu::-webkit-scrollbar {
    width: 6px
  }
  .mobile-navigation-box ul.mobile-navigation-sub-menu::-webkit-scrollbar-track {
    background: 0 0
  }
  .mobile-navigation-box ul.mobile-navigation-sub-menu::-webkit-scrollbar-thumb {
    background-color: #e9e7e7;
    border-radius: 5px;
    border: transparent
  }
}
@media (max-width:767px) {
  .mobile-navigation-menu span,
  .mobile-navigation-search {
    max-width: 540px
  }
}
.transparent-slider-img {
  height: 420px;
  display: block
}
.transparent-slider-img img,
.transparent-slider-img picture {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover
}
.transparent-slider .swiper-pagination {
  bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  gap: 20px
}
.transparent-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #fff;
  opacity: 1
}
.transparent-slider .swiper-pagination-bullet-active,
.transparent-slider .swiper-pagination-bullet:focus,
.transparent-slider .swiper-pagination-bullet:hover {
  background: #5db3da
}
.transparent-slider .swiper-button-prev {
  left: 30px
}
.transparent-slider .swiper-button-next {
  right: 30px
}
.brands {
  background: #d2e7f2;
  padding: 32px 0
}
.brands-items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px
}
.brands-item {
  display: block
}
.brands-item:focus .brands-item-img img,
.brands-item:hover .brands-item-img img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15)
}
.brands-item-img {
  position: relative;
  height: 0;
  padding: 0 0 56.5%;
  overflow: hidden
}
.brands-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s
}
.brands-item:hover .brands-item-img img {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15)
}
@media (max-width:767px) {
  .transparent-slider-img {
    height: 260px
  }
  .transparent-slider .swiper-button-next,
  .transparent-slider .swiper-button-prev {
    display: none
  }
  .brands-items {
    gap: 15px
  }
}
@media (max-width:575px) {
  .mobile-navigation-menu span,
  .mobile-navigation-search {
    max-width: 100%
  }
  .transparent-slider-img {
    height: 215px
  }
  .brands-items {
    grid-template-columns: repeat(2,1fr)
  }
  .brands {
    padding: 23px 0
  }
}
.hits {
  padding: 100px 0
}
.catalog-items-slider .swiper-pagination {
  display: none
}
.section-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px
}
.section-title .title {
  -ms-flex-preferred-size: 69%;
  flex-basis: 69%
}
.section-title .btn {
  -ms-flex-preferred-size: 19.4%;
  flex-basis: 19.4%
}
.section-title .gallary-slider-conrol {
  -ms-flex-preferred-size: 6%;
  flex-basis: 6%
}
.catalog-item-link-img {
  position: relative;
  height: 0;
  padding-bottom: 66%;
  display: block
}
.catalog-item-link-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.catalog-item {
  position: relative;
  height: 100%
}
.catalog-item-link {
  padding: 0 0 80px;
  display: block;
  text-align: center;
  border: 1px solid #eee;
  height: 100%
}
.catalog-item-link:focus,
.catalog-item-link:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.08);
  box-shadow: 0 5px 15px rgba(0,0,0,.08)
}
.catalog-item-link:focus .btn-second.small,
.catalog-item-link:hover .btn-second.small {
  background: #66bfe8;
  color: #fff
}
.catalog-item-likes {
  background: rgba(255,255,255,.9);
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 1
}
.catalog-item-likes img,
.catalog-item-likes svg {
  width: 22px;
  height: 22px
}
.catalog-item-likes:focus svg path,
.catalog-item-likes:hover svg path {
  fill: #5db3da
}
.catalog-item-more {
  position: absolute;
  bottom: 32px;
  left: 15px;
  width: calc(100% - 30px);
  text-align: center;
  z-index: 1
}
.catalog-item-more .btn-second {
  margin: 0 auto;
  display: inline-block;
  width: auto
}
.catalog-item-link-title {
  margin-top: 24px;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  padding: 0 15px;
  min-height: 40px
}
@media (max-width:1199px) {
  .hits {
    padding: 100px 0 80px
  }
}
@media (max-width:991px) {
  .hits {
    padding: 70px 0
  }
  .catalog-items-slider {
    padding-bottom: 50px
  }
  .catalog-items-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    bottom: 0;
    gap: 20px
  }
  .catalog-items-slider .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #eee;
    opacity: 1
  }
  .catalog-items-slider .swiper-pagination .swiper-pagination-bullet-active,
  .catalog-items-slider .swiper-pagination .swiper-pagination-bullet:hover {
    background: #5db3da
  }
  .catalog-items-slider .swiper-slide {
    height: auto
  }
}
@media (max-width:767px) {
  .hits {
    padding: 60px 0
  }
  .section-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 40px
  }
  .section-title {
    margin-bottom: 32px
  }
  .catalog-items-slider {
    padding-bottom: 40px
  }
}
@media (max-width:575px) {
  .section-control .btn {
    width: 100%
  }
}
@media (min-width:992px) {
  .catalog-items-slider .swiper-wrapper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px
  }
  .catalog-items-slider .swiper {
    overflow: visible
  }
}
.product-banner {
  background: #f9f9fd;
  padding: 100px 0
}
.product-banner-titles-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px
}
.product-banner-items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px
}
.product-banner-item {
  position: relative;
  display: block
}
.product-banner-item-img {
  position: relative;
  height: 0;
  padding-bottom: 56%
}
.product-banner-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.product-banner-item-info {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333;
  padding: 12px 16px;
  position: absolute;
  bottom: 15px;
  left: 0;
  background: #fff;
  max-width: calc(100% - 55px)
}
@media (max-width:1199px) {
  .product-banner {
    padding: 85px 0 80px
  }
  .product-banner-item-info {
    max-width: calc(100% - 15px)
  }
}
@media (max-width:991px) {
  .product-banner {
    padding: 75px 0 70px
  }
  .product-banner-item-info {
    font-size: 15px;
    line-height: 24px
  }
}
@media (max-width:767px) {
  .product-banner {
    padding: 60px 0
  }
  .product-banner-items {
    grid-template-columns: 1fr;
    gap: 15px
  }
  .product-banner-titles-box {
    margin-bottom: 32px
  }
}
.feedback {
  padding: 100px 0;
  position: relative
}
.feedback:after {
  right: 0;
  top: 0;
  content: "";
  position: absolute;
  width: calc(50vw - 390px);
  height: 100%;
  background: #d2e7f2
}
.feedback .title {
  font-size: 32px;
  line-height: 40px
}
.feedback .swiper-slide {
  height: auto
}
.feedback-slider-item {
  height: 100%;
  z-index: 1;
  background: #fff;
  border: 1px solid #eee;
  padding: 30px;
  position: relative
}
.feedback-slider-item-content-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333;
  margin-bottom: 8px
}
.feedback-slider-item-content-info {
  font-size: 13px;
  line-height: 20px;
  color: #333
}
.feedback-slider-item-imgs {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px
}
.feedback-slider-item-img {
  display: block;
  width: 64px;
  height: 64px
}
.feedback-slider-item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.feedback-slider-item-content {
  padding-bottom: 88px
}
.feedback-slider {
  padding-bottom: 60px
}
.feedback-slider .swiper-pagination {
  width: 100%;
  bottom: 0;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.feedback-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #eee
}
.feedback-slider .swiper-pagination-bullet-active,
.feedback-slider .swiper-pagination-bullet:focus,
.feedback-slider .swiper-pagination-bullet:hover {
  background: #5db3da
}
.feedback-titles-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 48px
}
.feedback-slider-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px
}
.slider-next,
.slider-prev {
  position: relative;
  z-index: 1;
  background: 0 0;
  border: 1px solid #e0e0e0;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 32px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%
}
.slider-next:focus,
.slider-next:hover,
.slider-prev:focus,
.slider-prev:hover {
  border-color: #5db3da
}
.slider-next:focus svg path,
.slider-next:hover svg path,
.slider-prev:focus svg path,
.slider-prev:hover svg path {
  fill: #5db3da
}
.slider-next svg,
.slider-prev svg {
  width: 24px;
  height: 24px
}
.slider-next svg path,
.slider-prev svg path {
  fill: #e0e0e0
}
.feedback-slider-control .slider-next,
.feedback-slider-control .slider-prev {
  border-color: #fff
}
.feedback-slider-control .slider-next svg path,
.feedback-slider-control .slider-prev svg path {
  fill: #fff
}
.feedback-slider-control .slider-next:focus,
.feedback-slider-control .slider-next:hover,
.feedback-slider-control .slider-prev:focus,
.feedback-slider-control .slider-prev:hover {
  border-color: #5db3da
}
.feedback-slider-control .slider-next:focus svg path,
.feedback-slider-control .slider-next:hover svg path,
.feedback-slider-control .slider-prev:focus svg path,
.feedback-slider-control .slider-prev:hover svg path {
  fill: #5db3da
}
@media (max-width:1199px) {
  .feedback {
    padding: 80px 0
  }
  .feedback:after {
    width: calc(50vw - 320px)
  }
}
@media (max-width:991px) {
  .feedback {
    padding: 80px 0 70px
  }
  .feedback:after {
    width: calc(50vw - 180px)
  }
}
@media (max-width:767px) {
  .feedback {
    padding: 56px 0 60px
  }
  .feedback-titles-box {
    margin-bottom: 32px
  }
  .feedback:after {
    width: calc(50vw - 135px)
  }
}
@media (max-width:575px) {
  .feedback:after {
    width: 110px
  }
}
.about-short {
  padding: 100px 0;
  position: relative
}
.about-short::before {
  content: "";
  position: absolute;
  width: calc(50vw + 361px);
  background: #eee;
  height: 1px;
  top: 0;
  left: 0
}
.about-short-img .about-short-content-title {
  display: none
}
.about-short-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about-short-content-title {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #333
}
.about-short-content-info {
  margin-top: 32px;
  font-size: 15px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333
}
.about-short-content {
  padding-left: 30px
}
.about-short-content-box {
  -ms-flex-item-align: center;
  align-self: center
}
@media (max-width:1199px) {
  .about-short::before {
    width: calc(50vw + 226px)
  }
  .about-short {
    padding: 80px 0
  }
  .about-short-content {
    padding-left: 0
  }
}
@media (max-width:991px) {
  .about-short::before {
    width: calc(50vw + 151px)
  }
  .about-short {
    padding: 70px 0
  }
}
@media (max-width:767px) {
  .about-short-content-box {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start
  }
  .about-short-img .about-short-content-title {
    display: block
  }
  .about-short-content .about-short-content-title {
    display: none
  }
  .about-short {
    padding: 60px 0
  }
  .about-short-content-title {
    margin-bottom: 32px
  }
  .about-short-content-info {
    margin-top: 24px
  }
  .about-short::before {
    width: calc(50vw + 106px)
  }
}
.footer-feedback {
  padding: 57px 0;
  background: #f9f9fd
}
.footer-feedback-item-links {
  margin-top: 18px
}
.footer-feedback-item-title {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: #999;
  min-height: 24px
}
.footer-feedback-item-link-phone {
  font-size: 17px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333;
  display: block
}
.footer-feedback-item-link-phone.mod {
  font-size: 24px;
  line-height: 32px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333;
  margin-bottom: 5px
}
.footer-feedback-item-link-phone.mod span {
  color: #83cddf;
  font-weight: 700
}
.footer-feedback-item-link-email {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333;
  border-bottom: 1px solid #bebec1;
  padding-bottom: 1px;
  display: inline-block
}
.footer-feedback-item-link-email:focus,
.footer-feedback-item-link-email:hover {
  color: #5db3da;
  border-color: transparent
}
.footer-feedback-item-link-adress {
  margin-top: 11px;
  display: block;
  font-size: 15px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333
}
.footer-bottom {
  background: #f9f9fd
}
.footer-feedback-item .navigation-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 26px
}
.footer-bottom-item,
.footer-bottom-item a {
  font-size: 13px;
  line-height: 20px;
  color: #999
}
.footer-bottom-inner {
  padding: 14px 0;
  border-top: 1px solid #e0e0e0
}
.footer-feedback-inner {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
@media (max-width:1199px) {
  .footer-bottom-item.mod,
  .footer-feedback-item.mod {
    text-align: right
  }
  .footer-bottom-item.mod .navigation-icons,
  .footer-feedback-item.mod .navigation-icons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}
@media (max-width:767px) {
  .footer-feedback {
    padding: 40px 0
  }
  .footer-feedback-item-title {
    min-height: auto
  }
  .footer-feedback-item-links.mod {
    margin: 0
  }
  .footer-feedback-item-link-email {
    margin-top: 8px
  }
  .footer-feedback-item.mod {
    text-align: right
  }
  .footer-feedback-item .navigation-icons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
}
@media (max-width:575px) {
  .about-short::before {
    width: 100%
  }
  .footer-feedback-item.mod .footer-feedback-item-title {
    margin: 40px 0 26px
  }
  .footer-feedback-item .navigation-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .footer-bottom-item.mod,
  .footer-feedback-item.mod {
    text-align: left
  }
  .footer-bottom-item.mod .navigation-icons,
  .footer-feedback-item.mod .navigation-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}
.breadcrumbs {
  padding: 24px 0 48px
}
.breadcrumbs-list-item a,
.breadcrumbs-list-item span {
  font-size: 13px;
  line-height: 20px;
  color: #999
}
.breadcrumbs-list-item.active a,
.breadcrumbs-list-item.active span {
  color: #5db3da
}
.page-title {
  margin: 8px 0 0;
  padding: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #333
}
.text-page p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #333;
  margin: 24px 0
}
.text-page p b {
  font-weight: 600
}
.text-page p a {
  color: #5db3da
}
.text-page p i {
  color: #999;
  font-style: italic
}
.text-page img {
  display: block;
  max-width: 100%;
  margin: 32px 0
}
.text-page h2 {
  margin: 48px 0 32px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #333
}
.text-page .img-left,
.text-page .img-right {
  max-width: calc(50% - 30px)
}
.text-page .img-left {
  float: left;
  margin: 0 30px 30px 0
}
.text-page .img-right {
  float: right;
  margin: 0 0 30px 30px
}
.text-page ol,
.text-page ul {
  display: block;
  padding: 0;
  margin: 32px 0 48px
}
.text-page li {
  font-size: 15px;
  line-height: 24px;
  position: relative;
  color: #333;
  display: block
}
.text-page li + li {
  margin-top: 8px
}
.text-page ul li {
  padding-left: 28px
}
.text-page ul li:before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 8px;
  height: 8px;
  background: #5db3da;
  border-radius: 50%;
  display: block
}
.text-page ol li {
  padding-left: 28px
}
.text-page ol li:before {
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  font-family: Jost,sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #5db3da
}
.text-page ol > li {
  counter-increment: step-counter
}
.text-page ol > li::before {
  content: counter(step-counter)
}
.text-page blockquote {
  margin: 32px 0;
  padding: 24px 30px 24px 92px;
  background: url(../img/svg/quote.svg) 30px 24px/32px 32px no-repeat #f9f9fd
}
.text-page blockquote p {
  margin-bottom: 16px
}
.text-page blockquote b {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #333
}
.text-page h3 {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin: 48px 0 33px;
  color: #333
}
.responsive-table {
  max-width: 100%;
  overflow-x: auto;
  margin: 33px 0;
  -webkit-box-shadow: 0 0 0 2px #f9f9fd;
  box-shadow: 0 0 0 2px #f9f9fd
}
.responsive-table table {
  width: 100%;
  border-collapse: collapse;
  text-align: left
}
.responsive-table thead tr {
  background: #5db3da
}
.responsive-table thead tr th {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
  padding: 12px 15px
}
.responsive-table thead tr th:first-child {
  padding-left: 30px
}
.responsive-table thead tr th:last-child {
  padding-right: 30px
}
.responsive-table tbody tr {
  background: #fff
}
.responsive-table tbody tr:nth-child(2n) {
  background: #f9f9fd
}
.responsive-table tbody td {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #333;
  padding: 14px 15px
}
.responsive-table tbody td:first-child {
  padding-left: 30px
}
.responsive-table tbody td:last-child {
  padding-right: 30px
}
.text-page :first-child {
  margin-top: 0
}
.text-page :last-child {
  margin-bottom: 0
}
@media (max-width:991px) {
  .text-page .img {
    margin: 48px 0
  }
}
@media (max-width:767px) {
  .text-page .img {
    margin: 32px 0
  }
  .text-page h2 {
    margin: 40px 0 24px;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #333
  }
  .text-page .img-left,
  .text-page .img-right {
    float: none;
    margin: 30px 0;
    max-width: 100%
  }
  .text-page blockquote {
    padding-left: 60px;
    padding-right: 15px;
    background-position: 15px 24px
  }
  .text-page h3 {
    font-size: 15px;
    margin-bottom: 25px;
    margin-top: 40px
  }
  .text-page ol,
  .text-page ul {
    margin: 24px 0 32px
  }
  .breadcrumbs {
    padding-bottom: 32px
  }
  .page-title {
    font-size: 24px;
    line-height: 32px
  }
  .responsive-table,
  blockquote {
    margin: 24px 0 32px
  }
}
.filter-control {
  background: #f9f9fd;
  margin-bottom: 32px
}
.filter-control-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 16px 30px;
  position: relative
}
.filter-control-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px
}
.filter-control-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 16px
}
.filter-control-item label {
  font-size: 13px;
  line-height: 20px;
  color: #333
}
.filter-control-item select {
  border: none;
  padding: 6px 50px 6px 20px;
  background: url(../img/svg/chevron-down.svg) center/20px 20px no-repeat #fff;
  border-radius: 333px;
  font-size: 13px;
  line-height: 20px;
  color: #999;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position: calc(100% - 20px) center
}
.filter-control-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px
}
.filter-control-btn {
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
  width: 22px;
  height: 22px
}
.filter-control-btn svg rect {
  fill: #999
}
.filter-control-btn.active svg rect,
.filter-control-btn:hover svg rect {
  fill: #5db3da
}
.catalog-items {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px
}
.gallary-slider-item {
  display: block;
  border: 1px solid #eee
}
.gallary-slider-item-img {
  position: relative;
  height: 0;
  padding-bottom: 56%
}
.gallary-slider-item-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.gallary-slider-item-desc {
  padding: 10px 0 10px 15px;
  display: grid;
  grid-template-columns: auto minmax(auto,85px);
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 15px
}
.gallary-slider-item-desc-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: #333
}
.gallary-slider-item-logo img {
  width: 85px;
  height: 48px;
  -o-object-fit: contain;
  object-fit: contain
}
.new-items-inner {
  margin-bottom: 160px
}
.gallary-slider {
  margin-bottom: 48px
}
.gallary-slider .swiper-pagination {
  display: none
}
.gallary-slider-conrol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px
}
.list-control {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.list-control .list-control-item {
  margin: 0 auto
}
.list-control.mod {
  grid-template-columns: 1fr;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.list-control.mod .list-control-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.list-control.mod .list-control-pagination {
  margin-top: 15px
}
.list-control-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px
}
.page-control-item-pagination {
  background: #f9f9fd;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  -webkit-font-feature-settings: "pnum" on,"lnum" on;
  font-feature-settings: "pnum" on,"lnum" on;
  color: #999
}
.page-control-item-pagination:hover {
  background: #5db3da;
  color: #fff
}
.page-control-item-pagination:hover svg path {
  stroke: #fff
}
.page-control-item-pagination.active {
  background: #5db3da;
  font-weight: 600;
  color: #fff
}
.page-control-item-pagination.left {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
@media (max-width:991px) {
  .catalog-items {
    grid-template-columns: repeat(2,1fr)
  }
  .new-items-inner {
    margin-bottom: 140px
  }
  .gallary-slider .swiper-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .gallary-slider {
    padding-bottom: 58px
  }
}
@media (max-width:767px) {
  .new-items-inner {
    margin-bottom: 93px
  }
  .catalog-items {
    grid-template-columns: repeat(1,1fr);
    gap: 15px
  }
  .filter-control-inner {
    padding: 24px 15px
  }
  .filter-control-btns {
    position: absolute;
    right: 15px;
    top: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
  }
  .filter-control-items {
    padding-right: 67px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    width: 100%
  }
  .filter-control-item.mod {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    gap: 12px
  }
  .filter-control-item select {
    width: 100%
  }
  .filter-control-item {
    gap: 8px
  }
  .list-control {
    margin-top: 40px;
    grid-template-columns: 1fr;
    gap: 12px
  }
  .list-control.mod {
    margin: 0;
    gap: 24px
  }
  .list-control-pagination {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1
  }
}
.catalog-items.list {
  grid-template-columns: 1fr;
  gap: 30px
}
.catalog-items.list .catalog-item {
  display: grid;
  grid-template-columns: auto minmax(auto,163px);
  border: 1px solid #eee;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 30px
}
.catalog-items.list .catalog-item-likes,
.catalog-items.list .catalog-item-more {
  position: static
}
.catalog-items.list .catalog-item-link-title {
  margin: 0;
  min-height: auto;
  padding: 0
}
.catalog-items.list .catalog-item-list-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px
}
.catalog-items.list .catalog-item-content {
  display: grid;
  grid-template-columns: minmax(auto,257px) minmax(auto,447px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px
}